@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html, body{
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: 'Raleway', sans-serif;
	scroll-behavior: smooth;
}

.img1{
	background-image: url(images/img1.jpg);
	min-height: 100%;
}	

.img2{
	background-image: url(images/img2.jpg);
	min-height: 400px;
}

.img3{
	background-image: url(images/img3.jpg);
	min-height: 400px;
}

.img1, .img2, .img3{
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.txt{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 30px;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-weight: 00px;
}

.txtbg{
	background-color: #857CE5;
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    font-weight: 1000px;
}

.light{
	background-color: white;
	color: black;
}

.txt_section{
	padding: 30px 50px;
	text-align: center;
}

.sec2{
	background-color: #EFB99D;
}

.dark{
	background-color: black;
	color: white;
}

.sec3{
	background-color: #689FB4;
}
